@"
# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.lock.hcl
crash.log
*.tfvars
terraform-provider-*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
incidents/

# Python cache
__pycache__/
*.pyc
